<h4 class="text-center"><em>New List</em></h4>

<div class="new-list">
	<%= form_for(@list, :html => { :class => "form-horizontal"} ) do |f| %>

		<% if @list.errors.any? %>
			<div id="error_explanation">
				<small><em><%= pluralize(@list.errors.count, "error") %> found on this form, please correct these before you can continue.</em></small>
			</div>
		<% end %>

		<div class="control-group">
			<%= f.label :title, :class => "control-label strong" %>
			<div class="controls">
				<%= f.text_field :title %>
				<% @list.errors[:title].each do | msg | %>
		        	<small class="error-line"><em><%= :title.to_s.capitalize + " " + msg %></em></small>
		        	<br/>
		      	<% end %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :description, :class => "control-label strong" %>
			<div class="controls">
				<%= f.text_field :description %>
				<% @list.errors[:description].each do | msg | %>
		        	<small class="error-line"><em><%= :description.to_s.capitalize + " " + msg %></em></small>
		        	<br/>
		      	<% end %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= f.submit %>
				<%= link_to 'Cancel', lists_path %>
			</div>
		</div>

	<% end %>
</div>